# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
env/

# Django
staticfiles/
media/
db.sqlite3

# Environment variables
.env
*.env

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db


reset_db.py
